@model MailBox.DtoLayer.Dtos.AppUserDtos.AppUserEditDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kullanıcı Profili</h4>
            <p class="card-description">Kullanıcı Profili Düzenleme Paneli</p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label for="Name">Adınız</label>
                    <input type="text" asp-for="Name" class="form-control" id="Name" placeholder="Ad">
                </div>
                <div class="form-group">
                    <label for="Surname">Soyadınız</label>
                    <input type="text" asp-for="Surname" class="form-control" id="Surname" placeholder="Soyad">
                </div>
                <div class="form-group">
                    <label for="Email">Email Adresiniz</label>
                    <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="City">Şehir</label>
                    <input type="text" asp-for="City" class="form-control" id="City" placeholder="Şehir">
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Telefon Numarası</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="Telefon Numarası">
                </div>
                <div class="form-group">
                    <label for="Password">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control" id="Password" placeholder="Şifre">
                </div>        
                <div class="form-group">
                    <label for="ConfirmPassword">Şifre Tekrarı</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Şifre">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>

<script src="~/CoronaTheme/template/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="~/CoronaTheme/template/assets/vendors/chart.js/Chart.min.js"></script>
<script src="~/CoronaTheme/template/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="~/CoronaTheme/template/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="~/CoronaTheme/template/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/CoronaTheme/template/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/CoronaTheme/template/assets/js/off-canvas.js"></script>
<script src="~/CoronaTheme/template/assets/js/hoverable-collapse.js"></script>
<script src="~/CoronaTheme/template/assets/js/misc.js"></script>
<script src="~/CoronaTheme/template/assets/js/settings.js"></script>
<script src="~/CoronaTheme/template/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
<script src="~/coronatheme/template/assets/js/dashboard.js"></script>