<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mail Box</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/CoronaTheme/template/assets/images/favicon.png" />
</head>