@model ConfirmMailViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mail Box - Mail Onay Kodu</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/CoronaTheme/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/CoronaTheme/template/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Mail Box - Mail Onay Kodu</h3>
                            <form method="post">
                                <div class="form-group">
                                    <label>Mail Adresi</label>
                                    <input type="text" asp-for="Mail" class="form-control p_input" value="@ViewBag.v">
                                </div>
                                <div class="form-group">
                                    <label>Kodu Giriniz</label>
                                    <input type="text" asp-for="ConfirmCode" class="form-control p_input">
                                </div>                            
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Hesabı Aktifleştir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/CoronaTheme/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/CoronaTheme/template/assets/js/off-canvas.js"></script>
    <script src="~/CoronaTheme/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/CoronaTheme/template/assets/js/misc.js"></script>
    <script src="~/CoronaTheme/template/assets/js/settings.js"></script>
    <script src="~/CoronaTheme/template/assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>